{% load staticfiles %}
{% csrf_token %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>TREX Blockly Environment</title>
        <meta charset="UTF=8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="{% static 'blockly/blockly_compressed.js' %}"></script>
        <script src="{% static 'blockly/blocks_compressed.js' %}"></script>
        <script src="{% static 'blockly/python_compressed.js' %}"></script>
        <script src="{% static 'blockly/msg/js/en.js' %}"></script>
        <script src="{% static 'blockly/blocks/trex_blocks.js' %}"></script>
        <script src="{% static 'blockly/generators/python/trex_stubs.js' %}"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
        
    </head>
    <body>
        <div class="row sandbox">
            <div class="col-lg-6" id="blocklyArea">
                <div id="blocklyDiv" style="position: absolute">
                    <xml xmlns="http://www.w3.org/1999/xhtml" id="toolbox" style="display: none;">
                      <category name="Variables" colour="#A65C81" custom="VARIABLE"></category>
                      <sep></sep>
                      <category name="Dataset" colour="#a55b5b">
                        <block type="diabetes_data"></block>
                        <block type="boston_data"></block>
                        <block type="boston_target"></block>
                        <block type="diabetes_target"></block>
                      </category>
                      <category name="Preprocessing" colour="#5ba5a5">
                        <block type="missing_data">
                          <field name="feat">name</field>
                        </block>
                        <block type="std_features">
                          <field name="x" id="U-BnTMhOKCF3~t]k0YSU" variabletype="">X</field>
                          <field name="y" id="Ta.SUWVM9=3$_T-T]e~!" variabletype="">Y</field>
                        </block>
                        <block type="remove_data_feature">
                          <field name="feat">name</field>
                        </block>
                      </category>
                      <category name="Linear Regression" colour="#6da55b">
                        <block type="split_data">
                          <field name="X" id=")HaLjv1o{R~pcFeHXzF8" variabletype="">X</field>
                          <field name="Y" id="c.Ur@u8)RDsP-Ue~7QtC" variabletype="">Y</field>
                          <field name="thresh">10</field>
                        </block>
                        <block type="linear_reg"></block>
                        <block type="fit">
                          <field name="x" id="Z320ylW9UiC:coG(nq2p" variabletype="">X_train</field>
                          <field name="y" id="ytTJ6SuIZl3UrkR9%)ll" variabletype="">Y_train</field>
                        </block>
                        <block type="predict">
                          <field name="x" id="j8fwtNK=/1P!sd_wDD4N" variabletype="">X_test</field>
                        </block>
                      </category>
                      <category name="Testing" colour="#a5805b">
                        <block type="import_temp"></block>
                        <block type="get_coefficients"></block>
                        <block type="get_mean2error">
                          <field name="train" id="g5oV-i;Ae[x(//s}.6[P" variabletype="">Y_train</field>
                          <field name="pred" id="=?M{)m7-e/V}YHgyss4X" variabletype="">Prediction</field>
                        </block>
                        <block type="get_accuracy">
                          <field name="train" id="g5oV-i;Ae[x(//s}.6[P" variabletype="">Y_train</field>
                          <field name="pred" id="=?M{)m7-e/V}YHgyss4X" variabletype="">Prediction</field>
                        </block>
                        <block type="text_print">
                          <value name="TEXT">
                            <shadow type="text">
                              <field name="TEXT">abc</field>
                            </shadow>
                          </value>
                        </block>
                      </category>
                    </xml>
                    <xml xmlns="http://www.w3.org/1999/xhtml" id="workspaceBlocks" style="display:none">
                      <variables>
                        <variable type="" id="du=lly~~h(tPOv,q`]:i">X</variable>
                        <variable type="" id="+.9aL99|7w)#96X05K/R">Y</variable>
                        <variable type="" id="4fGk![J;1Cq6s`E;;m.Q">X_train</variable>
                        <variable type="" id="eDddAwbdCqD`W[zxh*m9">Y_train</variable>
                        <variable type="" id="_x!yf^T9T/*[Jk%tUP#_">Prediction</variable>
                        <variable type="" id="rElhqXNNO2bk#?ovll`R">X_test</variable>
                        <variable type="" id="?[=q*$^tWRSig)6=t)vm">Coef</variable>
                        <variable type="" id="V1cas|avSUcu[fB}MRjp">MSE</variable>
                        <variable type="" id="`ql3z?]!+St!yPKhF/DS">Y_test</variable>
                        <variable type="" id="9~2t,?[4N=w5r?m+Fb[K">R2</variable>
                      </variables>
                      <block type="import_temp" id="crGcT+s!$co7NF4qsOOl" x="113" y="88">
                        <next>
                          <block type="variables_set" id="p}BD2Z8B%FWpt;2{,xhd">
                            <field name="VAR" id="du=lly~~h(tPOv,q`]:i" variabletype="">X</field>
                            <value name="VALUE">
                              <block type="boston_data" id="gU}+El$i8:u53b6{a(s6"></block>
                            </value>
                            <next>
                              <block type="variables_set" id="emf/?GI3muZ@%~7.!1@f">
                                <field name="VAR" id="+.9aL99|7w)#96X05K/R" variabletype="">Y</field>
                                <value name="VALUE">
                                  <block type="boston_target" id="f`57yE;N+ieOc=JO:_%V"></block>
                                </value>
                                <next>
                                  <block type="std_features" id="_nI@0kSJN4fmqGadpW)r">
                                    <field name="x" id="du=lly~~h(tPOv,q`]:i" variabletype="">X</field>
                                    <field name="y" id="+.9aL99|7w)#96X05K/R" variabletype="">Y</field>
                                    <next>
                                      <block type="split_data" id="~VC9egea)5uRY@64wxYf">
                                        <field name="X" id="du=lly~~h(tPOv,q`]:i" variabletype="">X</field>
                                        <field name="Y" id="+.9aL99|7w)#96X05K/R" variabletype="">Y</field>
                                        <field name="thresh">30</field>
                                        <next>
                                          <block type="linear_reg" id="(4jF;t`}6_TI;i)MT[1w">
                                            <next>
                                              <block type="fit" id="O@vm|#fdX7sk$F*15c!-">
                                                <field name="x" id="4fGk![J;1Cq6s`E;;m.Q" variabletype="">X_train</field>
                                                <field name="y" id="eDddAwbdCqD`W[zxh*m9" variabletype="">Y_train</field>
                                                <next>
                                                  <block type="variables_set" id="VW[l!W?sdtoj55?Z$Cew">
                                                    <field name="VAR" id="_x!yf^T9T/*[Jk%tUP#_" variabletype="">Prediction</field>
                                                    <value name="VALUE">
                                                      <block type="predict" id="xhX!e@vS[9I3Vpstcj9h">
                                                        <field name="x" id="rElhqXNNO2bk#?ovll`R" variabletype="">X_test</field>
                                                      </block>
                                                    </value>
                                                    <next>
                                                      <block type="variables_set" id="M:XS|1*3Wt[gpRYQ:?FW">
                                                        <field name="VAR" id="?[=q*$^tWRSig)6=t)vm" variabletype="">Coef</field>
                                                        <value name="VALUE">
                                                          <block type="get_coefficients" id="]zyw6ka7J1Cbp/;hX-8l"></block>
                                                        </value>
                                                        <next>
                                                          <block type="variables_set" id="ae,?#P73]u5YGd|o|hRx">
                                                            <field name="VAR" id="V1cas|avSUcu[fB}MRjp" variabletype="">MSE</field>
                                                            <value name="VALUE">
                                                              <block type="get_mean2error" id="G{O{AoIRe](0U-4VB(5V">
                                                                <field name="train" id="`ql3z?]!+St!yPKhF/DS" variabletype="">Y_test</field>
                                                                <field name="pred" id="_x!yf^T9T/*[Jk%tUP#_" variabletype="">Prediction</field>
                                                              </block>
                                                            </value>
                                                            <next>
                                                              <block type="variables_set" id="tl^T#H=BFtVYm:[}!Z]j">
                                                                <field name="VAR" id="9~2t,?[4N=w5r?m+Fb[K" variabletype="">R2</field>
                                                                <value name="VALUE">
                                                                  <block type="get_accuracy" id="P$X^P_t.68!rxlml$6j+">
                                                                    <field name="train" id="`ql3z?]!+St!yPKhF/DS" variabletype="">Y_test</field>
                                                                    <field name="pred" id="_x!yf^T9T/*[Jk%tUP#_" variabletype="">Prediction</field>
                                                                  </block>
                                                                </value>
                                                              </block>
                                                            </next>
                                                          </block>
                                                        </next>
                                                      </block>
                                                    </next>
                                                  </block>
                                                </next>
                                              </block>
                                            </next>
                                          </block>
                                        </next>
                                      </block>
                                    </next>
                                  </block>
                                </next>
                              </block>
                            </next>
                          </block>
                        </next>
                      </block>
                    </xml>
                </div>
            </div>
            <div class="col-lg-6">
                <button type="button" class="btn btn-success" onclick="runCode()" id="post-runcode">Run CodeBlocks</button>
                <div class="row code">
                    <div class="col-lg-6">
                        <span style="white-space: pre-line" id="codegen">// Your code is displayed here.</span>
                    </div>
                    <div class="col-lg-6">
                        <span style="white-space: pre-line" id="output">// Your output is displayed here.</span>
                    </div>
                </div>
                <canvas id="myChart" max-width="100%" max-height="20%"></canvas>
            </div>
        </div>
        
        <script src="{% static 'main.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            /* TODO: Change toolbox XML ID if necessary. Can export toolbox XML from Workspace Factory. */
            var blocklyArea = document.getElementById('blocklyArea');
            var blocklyDiv = document.getElementById('blocklyDiv');
            var toolbox = document.getElementById("toolbox");

            var options = { 
                toolbox : toolbox, 
                collapse : true, 
                comments : true, 
                disable : true, 
                maxBlocks : Infinity, 
                trashcan : true, 
                horizontalLayout : false, 
                toolboxPosition : 'start', 
                css : true, 
                media : 'https://blockly-demo.appspot.com/static/media/', 
                rtl : false, 
                scrollbars : true, 
                sounds : true, 
                oneBasedIndex : true
            };

            /* Inject your workspace */ 
            var workspace = Blockly.inject(blocklyDiv, options);
            
            /* Load Workspace Blocks from XML to workspace. Remove all code below if no blocks to load */

            /* TODO: Change workspace blocks XML ID if necessary. Can export workspace blocks XML from Workspace Factory. */
            var workspaceBlocks = document.getElementById("workspaceBlocks"); 

            /* Load blocks to workspace. */
            Blockly.Xml.domToWorkspace(workspaceBlocks, workspace);
            
            var onresize = function(e) {
                // Compute the absolute coordinates and dimensions of blocklyArea.
                var element = blocklyArea;
                var x = 0;
                var y = 0;
                do {
                    x += element.offsetLeft;
                    y += element.offsetTop;
                    element = element.offsetParent;
                } while (element);
                // Position blocklyDiv over blocklyArea.
                blocklyDiv.style.left = x + 'px';
                blocklyDiv.style.top = y + 'px';
                blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
                blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
                Blockly.svgResize(workspace);
            };
            window.addEventListener('resize', onresize, false);
            onresize();
            Blockly.svgResize(workspace);
            
            function runCode(){
                Blockly.Python.addReservedWords('code');
                var code = Blockly.Python.workspaceToCode(workspace);
                console.log(code);
                document.getElementById('codegen').innerHTML = code;

                $.ajax({
                  url: "/codespace/api/create_model/" ,
                  type: "POST",
                  data: {'code': code},

                  // handle a successful response
                  success : function(json) {
                      console.log(json); // log the returned json to the console
                      console.log("success"); // another sanity check
                      var out = document.getElementById('output');
                      out.innerHTML="// Your output is displayed here.";
                      out.style.color = "green"
                      if(json.executed == false){
                        var error_msg = document.createTextNode('\nError: '+ json.error_message);
                        out.style.color = "Red"
                        out.appendChild(error_msg);
                      }else{
                          var coef = document.createTextNode('\nCoefficients: ' + json.reg_coef)
                          var mean = document.createTextNode('\nMean Squared Error: ' + json.mean_sq_err);
                          var accu = document.createTextNode('\nAccuracy: ' + json.r2_score);
                          out.appendChild(coef);                      
                          out.appendChild(mean);                      
                          out.appendChild(accu);
                          console.log(json.y_test);
                          console.log(json.pred);
                          var keys = json.y_test;
                          var values = json.pred;
                          let coords = keys.map((v,i) => ({ x: v, y: values[i] }))
                          var ctx = document.getElementById('myChart').getContext('2d');
                          var scatterChart = new Chart(ctx, {
                            type: 'scatter',
                            data: {
                                datasets: [{
                                    label: 'Linear Regression',
                                    data: coords,
                                    backgroundColor: "rgba(40, 167, 69, 0.5)"
                                }]
                            },
                            options: {
                                scales: {
                                    xAxes: [{
                                        type: 'linear',
                                        position: 'bottom'
                                    }]
                                }
                            }
                        });
                      }                    
                  },
                  // handle a non-successful response
                  error : function(xhr,errmsg,err) {
                      //console.log(errmsg);
                      console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                  }
                });
            }

    
        </script>
        
    </body>
   
</html>