{% load staticfiles %}
{% csrf_token %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>TREX Blockly Environment</title>
        <meta charset="UTF=8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="{% static 'blockly/blockly_compressed.js' %}"></script>
        <script src="{% static 'blockly/blocks_compressed.js' %}"></script>
        <script src="{% static 'blockly/python_compressed.js' %}"></script>
        <script src="{% static 'blockly/msg/js/en.js' %}"></script>
        <script src="{% static 'blockly/blocks/trex_blocks.js' %}"></script>
        <script src="{% static 'blockly/generators/python/trex_stubs.js' %}"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
        
    </head>
    <body>
        <div class="row sandbox">
            <div class="col-lg-6" id="blocklyArea">
                <div id="blocklyDiv" style="position: absolute">
                    <xml xmlns="http://www.w3.org/1999/xhtml" id="toolbox" style="display: none;">
                      <sep></sep>
                      <category name="Variables" colour="#A65C81" custom="VARIABLE"></category>
                      <sep></sep>
                      <category name="Libraries" colour="#a5805b">
                        <block type="import_temp"></block>
                      </category>
                      <category name="Dataset" colour="#a55b5b">
                        <block type="boston_data"></block>
                        <block type="boston_target"></block>
                        <block type="diabetes_data"></block>
                        <block type="diabetes_target"></block>
                      </category>
                      <category name="Preprocessing" colour="#6d5ba5">
                        <block type="missing_data">
                          <field name="feat">name</field>
                        </block>
                        <block type="std_features">
                          <field name="x" id="U-BnTMhOKCF3~t]k0YSU" variabletype="">X</field>
                          <field name="y" id="Ta.SUWVM9=3$_T-T]e~!" variabletype="">Y</field>
                        </block>
                        <block type="remove_data_feature">
                          <field name="feat">name</field>
                        </block>
                      </category>
                      <category name="Linear Regression" colour="#5b80a5">
                        <block type="split_data">
                          <field name="X" id=")HaLjv1o{R~pcFeHXzF8" variabletype="">X</field>
                          <field name="Y" id="c.Ur@u8)RDsP-Ue~7QtC" variabletype="">Y</field>
                          <field name="thresh">10</field>
                        </block>
                        <block type="linear_reg"></block>
                        <block type="fit">
                          <field name="x" id="Z320ylW9UiC:coG(nq2p" variabletype="">X_train</field>
                          <field name="y" id="ytTJ6SuIZl3UrkR9%)ll" variabletype="">Y_train</field>
                        </block>
                        <block type="predict">
                          <field name="x" id="j8fwtNK=/1P!sd_wDD4N" variabletype="">X_train</field>
                        </block>
                      </category>
                      <category name="Testing" colour="#5ba593">
                        <block type="get_coefficients"></block>
                        <block type="get_mean2error">
                          <field name="train" id="g5oV-i;Ae[x(//s}.6[P" variabletype="">Y_train</field>
                          <field name="pred" id="=?M{)m7-e/V}YHgyss4X" variabletype="">Prediction</field>
                        </block>
                        <block type="get_accuracy">
                          <field name="train" id="g5oV-i;Ae[x(//s}.6[P" variabletype="">Y_train</field>
                          <field name="pred" id="=?M{)m7-e/V}YHgyss4X" variabletype="">Prediction</field>
                        </block>
                        <block type="text_print"></block>
                      </category>
                    </xml>
                    <xml xmlns="http://www.w3.org/1999/xhtml" id="workspaceBlocks" style="display:none">
                      <variables>
                        <variable type="" id="du=lly~~h(tPOv,q`]:i">X</variable>
                        <variable type="" id="+.9aL99|7w)#96X05K/R">Y</variable>
                        <variable type="" id="4fGk![J;1Cq6s`E;;m.Q">X_train</variable>
                        <variable type="" id="eDddAwbdCqD`W[zxh*m9">Y_train</variable>
                        <variable type="" id="_x!yf^T9T/*[Jk%tUP#_">Prediction</variable>
                        <variable type="" id="rElhqXNNO2bk#?ovll`R">X_test</variable>
                        <variable type="" id="?[=q*$^tWRSig)6=t)vm">Coef</variable>
                        <variable type="" id="V1cas|avSUcu[fB}MRjp">MSE</variable>
                        <variable type="" id="`ql3z?]!+St!yPKhF/DS">Y_test</variable>
                        <variable type="" id="9~2t,?[4N=w5r?m+Fb[K">R2</variable>
                      </variables>
                      <block type="import_temp" id="crGcT+s!$co7NF4qsOOl" x="113" y="63">
                        <next>
                          <block type="variables_set" id="dk`05UNI5y@*p*ROR+sg">
                            <field name="VAR" id="bq]1Qd,BV1rpYc-zdsBY">X</field>
                            <value name="VALUE">
                              <block type="boston_data" id="irg+Q:*|JOILPPC^~3:|"/>
                            </value>
                            <next>
                              <block type="variables_set" id="Np_DeV$eU4ecL@+c;qp)">
                                <field name="VAR" id=",qXiGXG42L%j}cI)j+s`">Y</field>
                                <value name="VALUE">
                                  <block type="boston_target" id="TTQRL1:L!#(;t3BTcci3"/>
                                </value>
                                <next>
                                  <block type="std_features" id="SP~gu%(u4_c,OlwTd0lU">
                                    <field name="x" id="bq]1Qd,BV1rpYc-zdsBY">X</field>
                                    <next>
                                      <block type="split_data" id="4;ImHJGwzVU@QR:w%9-1">
                                        <field name="X" id="bq]1Qd,BV1rpYc-zdsBY">X</field>
                                        <field name="Y" id=",qXiGXG42L%j}cI)j+s`">Y</field>
                                        <field name="thresh">30</field>
                                        <next>
                                          <block type="linear_reg" id="lcbuQq*.~k}D.u;,-;hI">
                                            <next>
                                              <block type="fit" id="etIZqxN9O-z[SWP|DT$}">
                                                <field name="x" id="rC]d}PgU}Y]^7v-mMJlA">X_train</field>
                                                <field name="y" id="4$DG$14tEWNUeT=|!lC!">Y_train</field>
                                                <next>
                                                  <block type="predict" id="BoMjp`w/TcN16,+M*aAm">
                                                    <field name="x" id="tB7^lLtVu.XTRqI~8rVb">X_test</field>
                                                    <next>
                                                      <block type="text_print" id="G39Y^=nqJW5DDch.Zn)]">
                                                        <value name="TEXT">
                                                          <block type="get_accuracy" id="-$C]s$a2rQ-RQ(zqM7_I">
                                                            <field name="train" id="[La7egc]?gEE1R=%rip.">Y_test</field>
                                                            <field name="pred" id="aIO27/gJ8~Zt6jQ$ObVj">Prediction</field>
                                                          </block>
                                                        </value>
                                                      </block>
                                                    </next>
                                                  </block>
                                                </next>
                                              </block>
                                            </next>
                                          </block>
                                        </next>
                                      </block>
                                    </next>
                                  </block>
                                </next>
                              </block>
                            </next>
                          </block>
                        </next>
                      </block>
                    </xml>
                </div>
            </div>
            <div class="col-lg-6">
                <button type="button" class="btn btn-secondary" onclick="viewCode()" id="viewcode">View CodeBlocks</button>
                <button type="button" class="btn btn-success" onclick="runCode()" id="post-runcode">Run CodeBlocks</button>
                <div class="row code">
                    <div class="col-lg-6">
                        <span style="white-space: pre-line" id="codegen">// Your code is displayed here.</span>
                    </div>
                    <div class="col-lg-6" id="chartarea">
                        <span style="white-space: pre-line" id="output">// Your output is displayed here.</span>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
                
            </div>
        </div>
        
        <script src="{% static 'main.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            /* TODO: Change toolbox XML ID if necessary. Can export toolbox XML from Workspace Factory. */
            var blocklyArea = document.getElementById('blocklyArea');
            var blocklyDiv = document.getElementById('blocklyDiv');
            var toolbox = document.getElementById("toolbox");

            var options = { 
                toolbox : toolbox, 
                collapse : true, 
                comments : true, 
                disable : true, 
                maxBlocks : Infinity, 
                trashcan : true, 
                horizontalLayout : false, 
                toolboxPosition : 'start', 
                css : true, 
                media : 'https://blockly-demo.appspot.com/static/media/', 
                rtl : false, 
                scrollbars : true, 
                sounds : true, 
                oneBasedIndex : true
            };
            /* Inject your workspace */ 
            var workspace = Blockly.inject(blocklyDiv, options);
            
            /* Load Workspace Blocks from XML to workspace. Remove all code below if no blocks to load */

            /* TODO: Change workspace blocks XML ID if necessary. Can export workspace blocks XML from Workspace Factory. */
            var workspaceBlocks = document.getElementById("workspaceBlocks"); 

            /* Load blocks to workspace. */
            Blockly.Xml.domToWorkspace(workspaceBlocks, workspace);
            
            var onresize = function(e) {
                // Compute the absolute coordinates and dimensions of blocklyArea.
                var element = blocklyArea;
                var x = 0;
                var y = 0;
                do {
                    x += element.offsetLeft;
                    y += element.offsetTop;
                    element = element.offsetParent;
                } while (element);
                // Position blocklyDiv over blocklyArea.
                blocklyDiv.style.left = x + 'px';
                blocklyDiv.style.top = y + 'px';
                blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
                blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
                Blockly.svgResize(workspace);
            };
            window.addEventListener('resize', onresize, false);
            onresize();
            Blockly.svgResize(workspace);
            
            function viewCode(){
                Blockly.Python.addReservedWords('code');
                var code = Blockly.Python.workspaceToCode(workspace);
                console.log(code);
                document.getElementById('codegen').innerHTML = code;
            }
            
            function runCode(){
                Blockly.Python.addReservedWords('code');
                var code = Blockly.Python.workspaceToCode(workspace);
                console.log(code);
                document.getElementById('codegen').innerHTML = code;

                $.ajax({
                  url: "/codespace/api/create_model/" ,
                  type: "POST",
                  data: {'code': code},

                  // handle a successful response
                  success : function(json) {
                      console.log(json); // log the returned json to the console
                      console.log("success"); // another sanity check
                      var out = document.getElementById('output');
                      out.innerHTML="// Your output is displayed here.";
                      out.style.color = "green"
                      if(json.executed == false){
                        var error_msg = document.createTextNode('\nError: '+ json.error_message);
                        out.style.color = "Red"
                        out.appendChild(error_msg);
                      }else{
                          //Printing Conditions
                          for(var i = 0; i < json.output.length; i++){
                            
                            if(json.output[i] == 'MSE' || json.output[i] == 'mse' || json.output[i].indexOf('mean_squared_error') > -1){
                              //Printing MSE
                              var mean = document.createTextNode('\n Mean Squared Error: \n' + json.mean_sq_err);
                              out.appendChild(mean);
                            }
                            else if(json.output[i] == 'R2' || json.output[i] == 'r2' || json.output[i].indexOf('r2_score') > -1){
                              //Printing Accuracy - r2score
                              var accu = document.createTextNode('\n r2 Score (Accuracy): \n'  + json.r2_score);
                              out.appendChild(accu);
                            }
                            
                            else if(json.output[i] === 'Coef' || json.output[i] == 'coef' || json.output[i] == 'coefficients' || json.output[i] == 'Coefficients' ||json.output[i].indexOf('regr.coef_') > -1){
                              //Printing coefficients
                              var coef = document.createTextNode('\nCoefficients:\n ' + json.reg_coef);
                              out.appendChild(coef);
                            }
                            else if(json.output[i].indexOf('pd.DataFrameboston_dataset') > -1){
                              //Boston Dataset Error Handling
                              var err = document.createTextNode('\nError: cannot print Boston Dataset. To view dataset, please check the TREX Documentation');
                              out.style.color = "Red"
                              out.appendChild(err);
                            }
                            else if(json.output[i].indexOf('pd.DataFramediabetes_dataset') > -1){
                              //Diabetes Dataset Error Handling
                              var err = document.createTextNode('\nError: cannot print Diabetes Dataset. To view dataset, please check the TREX Documentation');
                              out.style.color = "Red"
                              out.appendChild(err);
                            }

                            else if(json.output[i] === 'boston_dataset.target'){
                              //Boston Target Error Handling
                              var err = document.createTextNode('\nError: cannot print Boston Target. To view dataset, please check the TREX Documentation');
                              out.style.color = "Red"
                              out.appendChild(err);
                            }
                            else if(json.output[i] === 'diabetes_dataset.target'){
                              //Diabetes Dataset Error Handling
                              var err = document.createTextNode('\nError: cannot print Diabetes Target. To view dataset, please check the TREX Documentation');
                              out.style.color = "Red"
                              out.appendChild(err);
                            }
                            else if(json.output[i] === 'X_test'){
                              //Diabetes Dataset Error Handling
                              var err = document.createTextNode('\nError: cannot print X_test. Dataset is too large, please check the TREX Documentation regarding the Split block.');
                              out.style.color = "Red"
                              out.appendChild(err);
                            }
                            else if(json.output[i] === 'X_train'){
                              //Diabetes Dataset Error Handling
                              var err = document.createTextNode('\nError: cannot print X_train. Dataset is too large, please check the TREX Documentation regarding the Split block.');
                              out.style.color = "Red"
                              out.appendChild(err);
                            }
                            else if(json.output[i] === 'Y_test'){
                              //Diabetes Dataset Error Handling
                              var err = document.createTextNode('\nError: cannot print Y_test. Dataset is too large, please check the TREX Documentation regarding the Split block.');
                              out.style.color = "Red"
                              out.appendChild(err);
                            }
                            else if(json.output[i] === 'Y_train'){
                              //Diabetes Dataset Error Handling
                              var err = document.createTextNode('\nError: cannot print Y_train. Dataset is too large, please check the TREX Documentation regarding the Split block.');
                              out.style.color = "Red"
                              out.appendChild(err);
                            }
                            else{
                              // Output regular string
                              var output = document.createTextNode('\n' + json.output[i]);
                              out.appendChild(output);
                            }
                          }
                          
                          
                          // console.log(json.y_test);
                          // console.log(json.pred);
                          var keys = json.y_test;
                          var values = json.pred;
                          let coords = keys.map((v,i) => ({ x: v, y: values[i] }))
                          
                          var maxX = -Infinity;
                          var maxY = -Infinity;
                          for(var i=0; i<coords.length; i++){
                              if(coords[i].x > maxX){
                                  maxX = coords[i].x;
                              }
                              if(coords[i].y > maxY){
                                  maxY = coords[i].y;
                              }
                          }
                          console.log(maxX);
                          console.log(maxY);
                          maxX = Math.max(maxX, maxY);
                          console.log(maxX);
                          
                          $("canvas#myChart").remove();
                          $("div#chartarea").append('<canvas id="myChart"></canvas>');
                          var ctx = document.getElementById('myChart').getContext('2d');
                          var scatterChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                datasets: [{
                                    label: 'Prediction vs. Expected',
                                    data: coords,
                                    backgroundColor: "rgba(40, 167, 69, 0.5)",
                                    showLine: false
                                }, {
                                    label: 'RMSE',
                                    data: [{
                                        x: maxX*0.1,
                                        y: maxX*0.1
                                    }, {
                                        x: maxX-(maxX*0.1),
                                        y: maxX-(maxX*0.1)
                                    }],
                                    borderColor: "rgba(40, 69, 167, 0.5)",
                                    pointRadius: 0,
                                    fill: false
                                }]
                            },
                              options: {
                                  scales: {
                                      xAxes: [{
                                          type: 'linear',
                                          position: 'bottom',
                                          scaleLabel: {
                                              display: true,
                                              labelString: 'Actual Target Data'
                                          },
                                          ticks: {
                                              stepSize: maxX*0.1,
                                              max: maxX,
                                              beginAtZero: true
                                              //suggestedMax: 
                                          }
                                      }],
                                      yAxes: [{
                                          type: 'linear',
                                          scaleLabel: {
                                              display: true,
                                              labelString: 'Predicted Target Data'
                                          },
                                          ticks: {
                                              min: 0,
                                              stepSize: maxX*0.1,
                                              beginAtZero: true,
                                              max: maxX
                                          }
                                      }],
                                  },
                                  aspectRatio: 1
                              }
                          });
                          maxX = -Infinity;
                          maxY = -Infinity;
                      }
                  },
                  // handle a non-successful response
                  error : function(xhr,errmsg,err) {
                      //console.log(errmsg);
                      console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                  }
                });
            }

    
        </script>
        
    </body>
   
</html>